.button {
  padding: calc(var(--space) * 0.3) calc(var(--space) * 0.5);
  cursor: pointer;
  border: none;
}

.primary {
  background-color: var(--col-primary);
  color: var(--col-text-on-primary);
  &:hover {
    background-color: var(--col-primary-highlight);
    color: var(--col-text-on-primary-highlight);
  }
}

.borderPrimary {
  background: transparent;
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--col-primary);
  outline-offset: -1px;
  color: var(--col-primary);
  &:hover {
    outline-color: var(--col-primary-highlight);
    color: var(--col-primary-highlight);
  }
}
