@import './variables.scss';

@mixin container-full {
  width: 100%;

  @media (min-width: $breakpoint-sm) {
    max-width: $breakpoint-sm;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $breakpoint-md) {
    max-width: $breakpoint-md;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: $breakpoint-lg;
  }
}

@mixin flex {
  display: flex;
  gap: var(--space);
  align-items: center;
}

@mixin flex-sm {
  @include flex;
  gap: calc(var(--space) * 0.5);
}

@mixin box-shadow {
  box-shadow: 0 3px 10px var(--col-shadow);
}
