@use 'sass:color';

@import './variables.scss';
@import '@fontsource/quicksand/300.css';

/*
color vars
*/
@media (prefers-color-scheme: dark) {
  :root {
    --col-bg: #{$black};
    --col-text: #{$white};
    --col-bg-light: #{$dark-grey};
    --col-primary: #{$cyan};
    --col-text-on-primary: #{$black};
    --col-primary-highlight: #{$cyan-dark};
    --col-text-on-primary-highlight: #{$white};
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --col-bg: #{$light-grey};
    --col-text: #{$black};
    --col-bg-light: #{$white};
    --col-primary: #{$cyan-dark};
    --col-text-on-primary: #{$white};
    --col-primary-highlight: #{$cyan};
    --col-text-on-primary-highlight: #{$black};
  }
}

/*
ui vars
*/
:root {
  --space: 2rem;
  --anim-speed-base: 0.1s;
}

/*
basic styles
*/
* {
  box-sizing: border-box;
}

body {
  background-color: var(--col-bg);
  font-family: 'Quicksand';
  color: var(--col-text);
  margin: 0;
}

a {
  color: var(--col-primary);
  &:hover {
    color: var(--col-primary-highlight);
  }
}

p,
h1 {
  // default top margins must die
  margin-top: 0;
}
