/*
There is no import for bootstrap or tailwind or the latest new and cool CSS framework?
Nope. After many years of working with CSS/UI frameworks I wanted to experience again how it feels to start from zero. 😎
*/
@use 'sass:color';

@import './variables.scss';
@import '@fontsource/quicksand/300.css';

/*
color vars
*/
@media (prefers-color-scheme: dark) {
  :root {
    --col-bg: #{$black};
    --col-text: #{$white};
    --col-bg-light: #{$darker-grey};
    --col-primary: #{$cyan};
    --col-text-on-primary: #{$black};
    --col-primary-highlight: #{$cyan-dark};
    --col-text-on-primary-highlight: #{$white};
    --col-shadow: color-mix(in srgb, #{$black}, transparent 50%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --col-bg: #{$lighter-grey};
    --col-text: #{$black};
    --col-bg-light: #{$white};
    --col-primary: #{$cyan-dark};
    --col-text-on-primary: #{$white};
    --col-primary-highlight: #{$cyan};
    --col-text-on-primary-highlight: #{$black};
    --col-shadow: color-mix(in srgb, #{$dark-grey}, transparent 80%);
  }
}

/*
ui vars
*/
:root {
  --space: 2rem;
  --anim-speed-base: 0.3s;
  --anim-ease-func: cubic-bezier(0.2, 0.9, 0.3, 1.2);
  --font-family: 'Quicksand';
}

/*
basic styles
*/
* {
  box-sizing: border-box;
}

body {
  background-color: var(--col-bg);
  font-family: var(--font-family);
  color: var(--col-text);
  margin: 0;
}

a {
  color: var(--col-primary);
  text-decoration: none;
  &:hover {
    color: var(--col-text);
  }
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

hr {
  margin: calc(var(--space) * 0.5) 0;
  border: none;
}
