@import 'Styles/mixins.scss';

.outer {
  @include box-shadow;
  background-color: var(--col-bg-light);
  padding: calc(var(--space) * 0.5) var(--space);
  @include flex;
  justify-content: space-between;
  @media (min-width: $breakpoint-md) {
    @include flex;
  }
  align-items: start;
}

.nav {
  @media (min-width: $breakpoint-md) {
    @include flex;
    align-items: end;
  }

  ul {
    @include flex;
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  h1 {
    margin: 0;
  }
}

.navBrand {
  flex: 1;
  h1 {
    margin-bottom: calc(var(--space) * 0.5);
    @media (min-width: $breakpoint-md) {
      margin-bottom: 0;
    }
  }
}

.entries {
  li {
    padding-bottom: 0.25rem;
  }
}

.toggle {
  svg {
    margin-top: 0.5rem;
    width: 1.4rem;
    height: 1.4rem;

    @media (min-width: $breakpoint-md) {
      margin-top: 0;
    }
  }
}
