@import 'Styles/mixins.scss';

.footer {
  background-color: var(--bg-light);
  padding: calc(var(--spacer) * 0.5) var(--spacer);
  font-size: small;
  @include flex;
  margin-top: var(--spacer);
}
