@import 'Styles/mixins.scss';

$margin-lg: calc(var(--space) * 2);

.container {
  @include container-full;
}

.nav {
  margin: $margin-lg $margin-lg 0 $margin-lg;
  ol {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: small;
    margin: calc(var(--space) * 0.5) 0;
  }

  a {
    text-decoration: none;
  }

  li {
    &:not(:last-child) {
      padding-right: calc(var(--space) * 0.5);
    }
    &:not(:first-child) {
      border-left: 1px solid var(--col-text);
      padding-left: calc(var(--space) * 0.5);
    }
  }
}
