@import 'Styles/mixins.scss';

.nav {
  @include container-full;

  ol {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: small;
    margin: calc(var(--spacer) * 0.5) 0;
  }

  a {
    text-decoration: none;
  }

  li {
    &:not(:last-child) {
      padding-right: calc(var(--spacer) * 0.5);
    }
    &:not(:first-child) {
      border-left: 1px solid var(--text-color);
      padding-left: calc(var(--spacer) * 0.5);
    }
  }
}
