@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

.outer {
  @include container-full;
}

.notice {
  background: var(--col-bg-light);
  padding: var(--space);
  margin: var(--space);
  font-size: small;
}

.buttons {
  @include flex-sm;
}
