@import '../../Styles/variables.scss';

.cookieNotice {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: $black;
  :global .container {
    padding: 1rem;
    p {
      color: $white;
    }
  }
}
